COMPOSE_PROJECT_NAME=vue-storefront

LETSENCRYPT_EMAIL=


VS_ENV=dev
APPVERSION=dev
HELMET_ENABLED=true
HELMET_FRAME_ANCESTORS="\"'self'\", \"https://app.storyblok.com/\" "

NODEJS_INSTANCES_COUNT=2
NODEJS_INSTANCE_MAX_MEMORY=1G
NODEJS_INSTANCE_MAX_OLD_SPACE=1024

SSR_USE_HTML_MINIFIER=false
SSR_OUTPUT_CACHE_ENABLE=false
SSR_OUTPUT_CACHE_TTL=86400

DOMAIN=vsf.petsies.[*].team.gorbunov.studio

DEFAULT_STORE_CODE=petsies
DEFAULT_STORE_ID=3
DEFAULT_STORE_NAME=Petsies
DEFAULT_STORE_DESCRIPTION=Petsies are custom stuffed animals handmade to look just like your real pets. We make everything from dogs and cats to horses and rats. Petsies are an adorable way to celebrate your current pet or treasure a past furry companion.
DEFAULT_STORE_DOMAIN=vsf.petsies.[*].team.gorbunov.studio

PETSIES_STORE_DOMAIN=vsf.petsies.[*].team.gorbunov.studio
BUDSIES_STORE_DOMAIN=vsf.budsies.[*].team.gorbunov.studio
BULKORDERS_STORE_DOMAIN=vsf.bulkorders.[*].team.gorbunov.studio
WAGGABLES_STORE_DOMAIN=vsf.waggables.[*].team.gorbunov.studio

STORE_THEME=@vue-storefront/theme-petsies-capybara

VSF_API_DOMAIN=vsf-api.petsies.[*].team.gorbunov.studio
MAGENTO_DOMAIN=petsies.store.[*].team.gorbunov.studio
CACHE_INVALIDATION_KEY=aeSu7aip
FILEUPLOADER_UPLOAD_URL=https://file-storage-proxy.api.backend.st.budsies.com/file_upload_jobs
IMAGE_HANDLER_SERVICE_URL=https://images.st.budsies.com
ERROR_LOGGING_SERVICE_URL=

STORYBLOK_HOME_STORY_SLUG=home

GTM_ID=
GOOGLE_ANALYTICS_TRACKING_ID=

AFFIRM_PUBLIC_KEY=
AFFIRM_CDN=cdn1-sandbox.affirm.com

AMAZONPAY_SANDBOX=true
AMAZONPAY_CLIENT_ID=
AMAZONPAY_SELLER_ID=

PRIVACY_POLICY_URL=https://privacy.mypetsies.com/privacy-policy
PRIVACY_OPT_OUT_URL=https://privacy.mypetsies.com/opt-out
POLARIS_ID=
