**/node_modules/**/*
**/lib/*
**/dist/**/*
!**/.vuepress/**/*
packages/cache/nuxt/plugin.js
packages/nuxt-module/plugins/i18n-cookies.js
packages/nuxt-module/plugins/logger.js
packages/cli/dist
packages/middleware/__tests__/unit/test-data/*