.DS_Store
node_modules/
dist/
npm-debug.log
.vscode/
.idea/
yarn.lock
config/local.json
var
build/config.json
core/build/config.json
theme.js
desktop.ini
src/themes/catalog/resource/i18n.json
src/themes/default/resource/i18n.json
src/themes/theme-starter/resource/.i18n.json.icloud
