.DS_Store
node_modules/
dist/
npm-debug.log
.vscode/
.idea/
config/local.json
var
build/config.json
core/build/config.json
theme.js
desktop.ini
src/themes/catalog/resource/i18n.json
src/themes/default/resource/i18n.json
src/themes/theme-starter/resource/.i18n.json.icloud
core/resource/.breadcrumbs.json.icloud
core/resource/.i18n.json.icloud
core/resource/.ig_feed.json.icloud
core/resource/.order.json.icloud
core/resource/.promoted_offers.json.icloud
core/resource/.slider.json.icloud
core/resource/i18n/*.json
yarn-error.log
package-lock.json
cypress/videos
cypress/screenshots
