[submodule "src/modules/vsf-cache-varnish"]
	path = src/modules/vsf-cache-varnish
	url = https://github.com/wmycco1/vsf-cache-varnish-1
	branch = master
[submodule "src/themes/petsies-capybara"]
	path = src/themes/petsies-capybara
	url = https://github.com/BudsiesApp/vsf-capybara.git
[submodule "src/modules/payment-braintree"]
    path = src/modules/payment-braintree
    url = git@github.com:BudsiesApp/vsf-payment-braintree.git
    branch = optimuspro
