language: node_js
node_js:
  - "8"

cache:
  yarn: true
  directories:
    - node_modules

jobs:
  include:
    - stage: lint
      script:
        - yarn lint
        - yarn unit
        - yarn build
    - stage: e2e
      if: branch IN (master, develop)
      script:
        - yarn installer:ci
        # - yarn tests:e2e:ci
