/* Here you can override global SCSS variables */

// global override excluding scoped components
// $button-padding: 5px !default;
// global override including scoped componentss
// $button-padding: 50px;/* Here you can override global SCSS variables */

// global override excluding scoped components
// $button-padding: 5px !default;
// global override including scoped componentss
// $button-padding: 50px;/* Here you can override global SCSS variables */

// global override excluding scoped components
// $button-padding: 5px !default;
// global override including scoped componentss
// $button-padding: 50px;/* Here you can override global SCSS variables */

// global override excluding scoped components
// $button-padding: 5px !default;
// global override including scoped componentss
// $button-padding: 50px;/* Here you can override global SCSS variables */

// global override excluding scoped components
// $button-padding: 5px !default;
// global override including scoped componentss
// $button-padding: 50px;/* Here you can override global SCSS variables */

// global override excluding scoped components
// $button-padding: 5px !default;
// global override including scoped componentss
// $button-padding: 50px;/* Here you can override global SCSS variables */

// global override excluding scoped components
// $button-padding: 5px !default;
// global override including scoped componentss
// $button-padding: 50px;/* Here you can override global SCSS variables */

// global override excluding scoped components
// $button-padding: 5px !default;
// global override including scoped componentss
// $button-padding: 50px;/* Here you can override global SCSS variables */

// global override excluding scoped components
// $button-padding: 5px !default;
// global override including scoped componentss
// $button-padding: 50px;/* Here you can override global SCSS variables */

// global override excluding scoped components
// $button-padding: 5px !default;
// global override including scoped componentss
// $button-padding: 50px;/* Here you can override global SCSS variables */

// global override excluding scoped components
// $button-padding: 5px !default;
// global override including scoped componentss
// $button-padding: 50px;/* Here you can override global SCSS variables */

// global override excluding scoped components
// $button-padding: 5px !default;
// global override including scoped componentss
// $button-padding: 50px;/* Here you can override global SCSS variables */

// global override excluding scoped components
// $button-padding: 5px !default;
// global override including scoped componentss
// $button-padding: 50px;/* Here you can override global SCSS variables */

// global override excluding scoped components
// $button-padding: 5px !default;
// global override including scoped componentss
// $button-padding: 50px;/* Here you can override global SCSS variables */

// global override excluding scoped components
// $button-padding: 5px !default;
// global override including scoped componentss
// $button-padding: 50px;/* Here you can override global SCSS variables */

// global override excluding scoped components
// $button-padding: 5px !default;
// global override including scoped componentss
// $button-padding: 50px;/* Here you can override global SCSS variables */

// global override excluding scoped components
// $button-padding: 5px !default;
// global override including scoped componentss
// $button-padding: 50px;/* Here you can override global SCSS variables */

// global override excluding scoped components
// $button-padding: 5px !default;
// global override including scoped componentss
// $button-padding: 50px;/* Here you can override global SCSS variables */

// global override excluding scoped components
// $button-padding: 5px !default;
// global override including scoped componentss
// $button-padding: 50px;/* Here you can override global SCSS variables */

// global override excluding scoped components
// $button-padding: 5px !default;
// global override including scoped componentss
// $button-padding: 50px;/* Here you can override global SCSS variables */

// global override excluding scoped components
// $button-padding: 5px !default;
// global override including scoped componentss
// $button-padding: 50px;/* Here you can override global SCSS variables */

// global override excluding scoped components
// $button-padding: 5px !default;
// global override including scoped componentss
// $button-padding: 50px;