/* Atomic border styles */

.brdr-1 {
    border: 1px solid;
}

.brdr-c-gray {
    border-color: #BDBDBD;
}

.brdr-c-lightgray {
    border-color: #E0E0E0;
}

.brdr-square {
    border-radius: 0;
}

.brdr-circle {
    border-radius: 50%;
}

.brdr-underline {
    border-bottom: 1px solid;
}