@import 'global_vars';

// Pixel sizes

$border-px: 1;

// Display

$border-display: none;

// Radius

$border-radius: (
    square: 0,
    circle: 50%
);

@mixin border {
    @each $i in $border-px {
        .brdr-#{$i} {
            border: #{$i}px solid;
        }
    }
    @each $i in $border-display {
        .brdr-none {
            border: #{$i}
        }
    }
    @each $color, $colorcode in $colors {
        .brdr-c-#{$color} {
            border-color: #{$colorcode};
        }
    }
    @each $name, $value in $border-radius {
        .brdr-#{$name} {
            border-radius: #{$value};
        }
    }
}

.brdr-underline {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

@include border;
