.bg-white {
    background-color: white;
}

.bg-black {
    background-color: #333;
}

.bg-gray {
    background-color: #8E8E8E;
}

.bg-lightgray {
    background-color: #F2F2F2;
}

.bg-darkgray {
    background-color: #333333;
}

.bg-transparent {
    background-color: transparent;
}

.c-white {
    color: white;
}

.c-gray {
    color: #8E8E8E;
}

.c-lightgray {
    color: #BDBDBD;
}

.c-darkgray {
    color: #828282;
}

.c-black {
    color: #333;
}
