.inline-flex {
  display: inline-flex;
}

.flex {
  display: flex;
}

.center-self {
  align-self: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.border-box {
  box-sizing: border-box;
}

.w-100 {
  width: 100%;
}

.mw-100 {
  max-width: 100%
}
