/* Atomic display styles */

.display-block {
    display: block;
}

.display-inline-flex {
    display: inline-flex;
}

/* Atomic position styles */

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

/* Atomic bottom, left, right, top styles */

.top-0 {
    top: 0;
}

.top-3 {
    top: 3px;
}

.top-5 {
    top: 5px;
}

.btm-0 {
    bottom: 0;
}

.btm-3 {
    bottom: 3px;
}

.btm-5 {
    bottom: 5px;
}

/* Atomic positioning styles */

.cntr {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}