
.p0 {
    padding: 0;
}
.p5 {
    padding: 5px;
}
.p10 {
    padding: 10px;
}
.p15 {
    padding: 15px;
}

.px10p {
    padding-left: 10%;
    padding-right: 10%;
}

.px10 {
    padding-left: 10px;
    padding-right: 10px
}


.px25 {
    padding-left: 25px;
    padding-right: 25px;
}

.px40 {
    padding-left: 40px;
    padding-right: 40px;
}

.py5 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.py15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.py20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py35 {
    padding-top: 35px;
    padding-bottom: 35px;
}
.pr15 {
    padding-right: 15px;
}

.pl0 {
    padding-left: 0px;
}
.pt20 {
    padding-top: 20px;
}
.pt40 {
    padding-top: 40px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb45 {
    padding-bottom: 45px;
}

.pb60 {
    padding-bottom: 60px;
}