

.p5 {
    padding: 5px;
}
.p15 {
    padding: 15px;
}

.px10p {
    padding-left: 10%;
    padding-right: 10%;
}

.px40 {
    padding-left: 40px;
    padding-right: 40px;
}

.py15 {
    padding-top: 15px;
    padding-bottom: 15px;
}


.pt40 {
    padding-top: 40px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb45 {
    padding-bottom: 45px;
}