
.p0 {
    padding: 0;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.px10p {
    padding-left: 10%;
    padding-right: 10%;
}

.px10 {
    padding-left: 10px;
    padding-right: 10px
}
.px15 {
    padding-left: 15px;
    padding-right: 15px;
}
.px25 {
    padding-left: 25px;
    padding-right: 25px;
}

.px40 {
    padding-left: 40px;
    padding-right: 40px;
}

.px55 {
    padding-left: 55px;
    padding-right: 55px;
}

.py5 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.py15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.py20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.py35 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.pr15 {
    padding-right: 15px;
}

.pr30 {
    padding-right: 30px;
}

.pr55 {
    padding-right: 55px;
}

.pr70 {
    padding-right: 70px;
}

.pl0 {
    padding-left: 0px;
}

.pl30 {
    padding-left: 30px;
}

.pl40 {
    padding-left: 40px;
}

.pl70 {
    padding-left: 70px;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt40 {
    padding-top: 40px;
}

.pt35 {
    padding-top: 25px;
}

.pt70 {
    padding-top: 70px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb45 {
    padding-bottom: 45px;
}

.pb60 {
    padding-bottom: 60px;
}

.pb70 {
    padding-bottom: 70px;
}