$motion-main: cubic-bezier(0.54, 0.02, 0.35, 0.88);

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0
  }