[v-cloak] {
  display: none;
}

.hidden-xs {
  display: none;

  @media only screen and (min-width:48em) {
    display: inherit
  }
}

.hidden-md {
  @media only screen and (min-width:48em) {
    display: none;
  }
}
