@mixin display-property-handling {
    &.-editor-preview-mode {
        position: relative;
    }

    @media (min-width: $tablet-min) {
        &.-mobile-only {
            display: none !important;
        }

        &.-editor-mobile-only {
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                pointer-events: none;
                
                background: rgba(205, 205, 205, .7);
                content: "Hidden on desktop";
                font-weight: bold;
            }
        }
    }
    
    @media (max-width: $mobile-max) {
        &.-mobile-hidden {
            display: none !important;
        }

        &.-editor-mobile-hidden {
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                pointer-events: none;
                
                background: rgba(205, 205, 205, .7);
                content: "Hidden on mobile";
                font-weight: bold;
            }
        }
    }
}

@mixin storyblok-default-margin {
    margin-top: 1em;

    &.-first-item {
        margin-top: 0;
    }
}