header.navbar,
header.navbar .links
  background-color: #132d1b

.navbar .site-name, .nav-links .nav-item,
.nav-links a:hover, .nav-links a.router-link-active
.nav-item, .nav-links a:hover, .nav-links a.router-link-active,
a.repo-link
  color: white

.home .hero .action-button
  background-color: #5fe587
  color: #000;
