// Global

body {
    background: $c-bg-primary;
}

// Colors 

.bg-secondary {
    background: $c-bg-secondary;
}

.bg-accent {
    background: $c-accent;
}

// Colors on hover

.bg-accent-hover {
    @include hover-bg-darken($c-accent);
}