// Global

body {
    background: $c-bg-primary;
}

// Colors 

.bg-primary {
    background: $c-bg-primary;
}
.bg-secondary {
    background: $c-bg-secondary;
    &-hover:hover {
        @include hover-bg-darken($c-bg-secondary);
    }
}

.bg-accent {
    background: $c-accent;
    &-hover:hover {
        @include hover-bg-darken($c-accent);
    }
}

// Btn colors

.bg-btn-negaive {
    background: $c-bg-btn-negative;
}

.bg-btn-positive {
    background: $c-bg-btn-positive;
}