.b-bottom {
    border-bottom-color: $c-border;    
    border-bottom-width: $border-width;
    border-bottom-style: $border-style;
}

.b-right {
    border-right-color: $c-border;    
    border-right-width: $border-width;
    border-right-style: $border-style;
}

.b-left {
    border-left-color: $c-border;    
    border-left-width: $border-width;
    border-left-style: $border-style;
}

.b {
    border: $border-width $border-style $c-border;
}

.b-bottom-none {
    border-bottom: none;
}

.b-right-none {
    border-right: none;
}