// Global
body {
    padding: 0;
    margin: 0;
}

// Display

.inline-flex {
    display: inline-flex;
}

.flex {
    display: flex;
}

// Size

.full-width {
    width: 100%;
}
// Show/hide 
.hide {
    display: none;
}




@media ( min-width: $md ) {
    
    .flex-md {
        display: flex;
    }
    .inline-flex-md {
        display: inline-flex;
    }
    .show-md {
        display: block;
    }
    .hide-md {
        display: none;
    }
}