@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url('../assets/fonts/MaterialIcons-Regular.woff2') format('woff2'),
      url('../assets/fonts/MaterialIcons-Regular.woff') format('woff'),
    ;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  
  &:not([class*="t-leading-"]) {
    line-height: 1em;
  }

  /** These are the recommended sizes */
  &.mi-sm { font-size: 1.125rem; } /** 18px - .t-text-lg */
  &.mi-md { font-size: 1.5rem; } /** 24px - .t-text-2xl */
  &.mi-lg { font-size: 2.25rem; } /** 36px - .t-text-4xl */
  &.mi-xl { font-size: 3rem; } /** 48px - .t-text-5xl	 */
}

@font-face {
  font-family: 'ICMAA Icons';
  font-style: normal;
  font-weight: normal;
  src:  url('../assets/fonts/icmaa-icomoon/ICMAA-Icons.eot?9r526n');
  src:  url('../assets/fonts/icmaa-icomoon/ICMAA-Icons.eot?9r526n#iefix') format('embedded-opentype'),
    url('../assets/fonts/icmaa-icomoon/ICMAA-Icons.ttf?9r526n') format('truetype'),
    url('../assets/fonts/icmaa-icomoon/ICMAA-Icons.woff?9r526n') format('woff'),
    url('../assets/fonts/icmaa-icomoon/ICMAA-Icons.svg?9r526n#ICMAA-Icons') format('svg');
}

.icmaa-icons {
  font-family: 'ICMAA Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
