body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #1E1E1E
}

main h1:not([class*="t-"]), .h1,
main h2:not([class*="t-"]), .h2,
main h3:not([class*="t-"]), .h3,
main h4:not([class*="t-"]), .h4,
main h5:not([class*="t-"]), .h5 {
  line-height: 1.125em;

  &:not(:last-child) {
    margin-bottom: .75em;
  }

  &:not(:first-child) {
    margin-top: 1.25em;
  }
}

main h1:not([class*="t-"]), .h1 { font-size: 2.5em; font-weight: bold; }
main h2:not([class*="t-"]), .h2 { font-size: 1.75em; font-weight: bold; }
main h3:not([class*="t-"]), .h3 { font-size: 1.625em; }
main h4:not([class*="t-"]), .h4 { font-size: 1.25em; }
main h5:not([class*="t-"]), .h5 { font-size: 1.125em; }
main h6:not([class*="t-"]), .h6 { font-size: 1em; font-weight: bold; }

.rem {
  h1:not([class*="t-"]), .h1 { font-size: 2.5rem; font-weight: bold; }
  h2:not([class*="t-"]), .h2 { font-size: 1.75rem; font-weight: bold; }
  h3:not([class*="t-"]), .h3 { font-size: 1.625rem; }
  h4:not([class*="t-"]), .h4 { font-size: 1.25rem; }
  h5:not([class*="t-"]), .h5 { font-size: 1.125rem; }
  h6:not([class*="t-"]), .h6 { font-size: 1rem; font-weight: bold; }
}

// DEPRECATED STYLES
// Atomic styles for text

.serif { @apply t-font-serif; }
.sans-serif { @apply t-font-sans; }

.uppercase { @apply t-uppercase; }

.align-center { @apply t-text-center; }
.align-left { @apply t-text-left; }
.align-right { @apply t-text-right; }
.align-justify { @apply t-text-justify; }

.weight-400 { font-weight: 400; }
.weight-700 { font-weight: 700; }

.lh16 { line-height: 16px; }
.lh20 { line-height: 20px; }
.lh25 { line-height: 25px; }
.lh30 { line-height: 30px; }
.lh35 { line-height: 35px; }
.lh40 { line-height: 40px; }

// Sizes
.fs-medium-small { font-size: 14px; }
.fs-medium { font-size: 18px; }
.fs-large { font-size: 24px; }
.fs-big { font-size: 36px; }
// @todo its not in styleguite therefore shouldn't be here, ask Karol Bzik
.fs16 { font-size: 16px; }
