body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-family: 'Playfair Display', serif;
  line-height: 1.125em;

  &:not(:last-child) {
    margin-bottom: .75em;
  }

  &:not(:first-child) {
    margin-top: 1.25em;
  }
}

h1, .h1 { font-size: 2.5em; }
h2, .h2 { font-size: 1.75em; }
h3, .h3 { font-size: 1.625em; }
h4, .h4 { font-size: 1.25em; }
h5, .h5 { font-size: 1.125em; }
h6, .h6 { font-size: 1em; }

.rem {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5 {
    &:not(:last-child) {
      margin-bottom: .75rem;
    }

    &:not(:first-child) {
      margin-top: 1.25rem;
    }
  }

  h1, .h1 { font-size: 2.5rem; }
  h2, .h2 { font-size: 1.75rem; }
  h3, .h3 { font-size: 1.625rem; }
  h4, .h4 { font-size: 1.25em; }
  h5, .h5 { font-size: 1.125em; }
  h6, .h6 { font-size: 1rem; }
}

// DEPRECATED STYLES
// Atomic styles for text

.serif { font-family: 'Playfair Display', serif; }
.sans-serif { font-family: 'Roboto', sans-serif; }

.uppercase { text-transform: uppercase; }

.align-center { text-align: center; }
.align-right { text-align: right; }
.align-left { text-align: left; }
.align-justify { text-align: justify; }

.weight-400 { font-weight: 400; }
.weight-700 { font-weight: 700; }

.lh16 { line-height: 16px; }
.lh20 { line-height: 20px; }
.lh25 { line-height: 25px; }
.lh30 { line-height: 30px; }
.lh35 { line-height: 35px; }
.lh40 { line-height: 40px; }

// Sizes
.fs-medium-small { font-size: 14px; }
.fs-medium { font-size: 18px; }
.fs-large { font-size: 24px; }
.fs-big { font-size: 36px; }
// @todo its not in styleguite therefore shouldn't be here, ask Karol Bzik
.fs16 { font-size: 16px; }
