dist
public
.nuxt
.cache
.env
.eslintcache
.npm
typings
node_modules
jspm_packages
build
.lock-wscript
coverage
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
lib
module
plugin.js
lib
server
*.js
