node_modules
coverage
src
demo
__tests__
.husky
.github

.idea
.editorconfig
.eslintrc.js
.prettierrc
babel.config.js
commitlint.config.js
package-lock.json
jest.config.ts
rollup.config.js
tsconfig.json
yarn.lock
