@keyframes images-lazy-loading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

[lazy="loaded"] {
  animation: images-lazy-loading;
  animation-duration: 0.3s;
}

@keyframes ripple-effect {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  20% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
}
