$c-text-primary: #4F4F4F;
$c-text-secondary: #828282;
$c-text-secondary-lighter: #BDBDBD;
$c-text-accent: #1A4D96;
$c-text-heading: black;
$c-text-header-link: black;

$c-icon: #E0E0E0;
$c-icon-hover: #4F4F4F;
$c-border: #F2F2F2;

$c-bg-primary: #FFFFFF;
$c-bg-secondary: #F2F2F2;