// Layout accent
$c-accent: #1A4D96;

// Text
$c-text-primary: #4F4F4F;
$c-text-secondary: #828282;
$c-text-secondary-lighter: #BDBDBD;

$c-text-on-dark: white;
$c-text-on-light: black;
$c-text-on-accent: white;
$c-text-on-bg-secondary: #4F4F4F;
$c-text-heading: #333333;

$c-text-header-link: black;

$c-text-positive: #00CC00;
$c-text-negative: #FF4040;

// Icons
$c-icon: #E0E0E0;
$c-icon-hover: #4F4F4F;
$c-icon-with-background: #ffffff;
$c-icon-with-background-bg: #BDBDBD;
$c-header-background-hover: #F2F2F2;

// Borders
$c-border: #F2F2F2;

// Backgrounds
$c-bg-primary: #FFFFFF;
$c-bg-secondary: #F2F2F2;

// Buttons
$c-bg-btn-negative: #FF4040;
$c-bg-btn-positive: #00CC00;