$font-family: 'Montserrat', sans-serif;
$font-weight: 500;

$font-size: 12px;
$font-size-medium: 18px;
$font-size-large: 24px;
$font-size-h1: 36px;
$font-size-h2: 24px;

$font-weight-h2: 800;

$link-text-decoration: none;