name: Release

on:
  workflow_call:
    secrets:
      VERDACCIO_AUTH_TOKEN:
        required: false
    inputs:
      enterprise:
        description: "Flag to use enterprise registry"
        type: boolean
        required: false
        default: false

defaults:
  run:
    shell: bash

# Avoid running precommit hooks when changesets makes a commit for the release PR
env:
  HUSKY: 0 

jobs:
  changelog:
    name: Changelog PR or Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.node-version'
          registry-url: ${{ inputs.enterprise && 'https://registrynpm.storefrontcloud.io' || 'https://registry.npmjs.org' }}

      - name: Install dependencies
        run: yarn --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ inputs.enterprise && secrets.VERDACCIO_AUTH_TOKEN || '' }}

      - name: Create Release Pull Request or Publish
        id: changesets
        uses: changesets/action@v1.4.7
        with:
          version: yarn run changesets:version
          publish: yarn run changesets:publish
          commit: "ci: release"
          title: "ci: release"
          createGithubReleases: true
        env:
          # Needs access to push to main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ inputs.enterprise && secrets.VERDACCIO_AUTH_TOKEN || secrets.NPM_RELEASE_TOKEN }}
