html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  position: relative;
  text-decoration: none;
}

#app {
  overflow-x: hidden;
}

#viewport {
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}
